<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whoisyari.freefallingdetectorlibrary">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application>

        <service
            android:name=".core.MonitoringService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher_background"
            android:label="@string/monitoring_service"></service>

        <service
            android:name=".core.ForegroundService"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_launcher_background"
            android:label="@string/foreground_service"></service>
        <receiver
            android:name="com.whoisyari.freefallingdetector.BootDeviceBroadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>